/* Variable */
:root {
    --bg-color: #3E3232;
    --drum-set-color: #503C3C;
    --border-color: #7E6363;
    --main-font-color: #A87C7C;
    --secondary-font-color: #E6BAA3;
}

/* Layout */

/* Typography */

/* style */