/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variable */
:root {
    --bg-color: #3E3232;
    --drum-set-color: #503C3C;
    --border-color: #7E6363;
    --main-font-color: #A87C7C;
    --secondary-font-color: #E6BAA3;
    --span-font: 'Abel', sans-serif;
    --h2-font: 'Exo 2', sans-serif;
    --h1-font: 'Roboto', sans-serif;
}

/* Layout */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}

main {
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 50px;
}

div.drum-set {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Typography */
html {
    font-size: 16px;
}
h1 {
    font-family: var(--h1-font);
    font-size: 4rem;
}
h2 {
    font-family: var(--h2-font);
    font-size: 2rem;
}
h1,h2 {
    color: var(--main-font-color);
}
span {
    font-family: var(--span-font);
    color: var(--secondary-font-color);
    font-size: 1.2rem;
}

/* style */
body {
    min-height: 100vh;

    background-color: var(--bg-color);
}

.drum-set {
    width: 100px;
    border: 5px solid var(--border-color);
    
    padding: 10px;

    cursor: pointer;
}